<div class="container mt-4">
    <h1 class="text-center mb-3">Inventory Management App</h1>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td> <div *ngIf="!product.isEditing">{{ product.name }}</div>
            <input *ngIf="product.isEditing" [(ngModel)]="product.name" type="text" class="form-control"/>
          </td>
          <td> <div *ngIf="!product.isEditing">{{ product.price }}</div>
            <input *ngIf="product.isEditing" [(ngModel)]="product.price" type="text" class="form-control"/>
          <td>
            <button *ngIf="!product.isEditing" (click)="enableEditing(product)" class="btn btn-primary btn-sm">Edit</button>
            <button *ngIf="product.isEditing" (click)="updateProduct(product.id, product)" class="btn btn-primary btn-sm">Save</button>
            <button *ngIf="product.isEditing" (click)="cancelEditing(product)" class="btn btn-warning btn-sm">Cancel</button>
            <button (click)="deleteProduct(product.id)" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <input type="text" class="form-control" placeholder="Enter product name" [(ngModel)]="newProductName"> <br>
    <button (click)="addProduct()" class="btn btn-success btn-md">Add Product</button>
</div>
</div>


  